body {
    background: linear-gradient(180deg, #154580 0%, #041833 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

.container{
    position: absolute;
    left: 176px;
    top: 98px;
    border-radius: 10px;
    background: #C4C4C433;
    padding: 1rem;
}

img {
    display: flex;
    margin: auto;
}

h1 {
    font-family: Open Sans, "sans-serif";
    font-size: 24px;
    font-weight: 900;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.grid-item {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    background: #041833;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.item3 {
    background: #84EEC1;
    color: #041833;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item4 item3"
    "item5 item5 item6";
    grid-template-columns: repeat(3 1fr);
    column-gap: 1rem;
    row-gap: .5rem;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}